---
layout: default
title: Supervision
permalink: /supervision/
---
{% assign s = site.data.supervision %}
<h2>Current students</h2>
<h3>Director of Studies</h3>
<ul class="cv-list">
{% for x in s.current.director %}<li><strong>{{ x.name }}</strong> ({{ x.degree }}, {{ x.years }}). <em>{{ x.title }}</em>.</li>
{% endfor %}</ul>
<h3>Supervisory team</h3>
<ul class="cv-list">
{% for x in s.current.team %}<li><strong>{{ x.name }}</strong> ({{ x.degree }}, {{ x.years }}). <em>{{ x.title }}</em>.</li>
{% endfor %}</ul>

<h2>Completed students</h2>
<h3>Director of Studies</h3>
<ul class="cv-list">
{% for x in s.completed.director %}<li><strong>{{ x.name }}</strong> ({{ x.degree }}, {{ x.year }}). <em>{{ x.title }}</em>.</li>
{% endfor %}</ul>
<h3>Supervisory team</h3>
<ul class="cv-list">
{% for x in s.completed.team %}<li><strong>{{ x.name }}</strong> ({{ x.degree }}, {{ x.year }}). <em>{{ x.title }}</em>.</li>
{% endfor %}</ul>

<h2>Postdoctoral researchers and research assistants</h2>
<ul class="cv-list">
{% for x in s.postdocs %}<li><strong>{{ x.name }}</strong>, {{ x.role }}, {{ x.years }}.</li>
{% endfor %}</ul>

<h2>Placement students</h2>
<ul class="cv-list">
{% for x in s.placements %}<li>{{ x.names }}, {{ x.years }}.</li>
{% endfor %}</ul>

<h2>Research degree examining</h2>
<h3>External examiner</h3>
<ul class="cv-list">
{% for x in s.examining.external %}<li><strong>{{ x.name }}</strong> ({{ x.degree }}, {{ x.institution }}, {{ x.year }}). <em>{{ x.title }}</em>.</li>
{% endfor %}</ul>
<h3>Internal examiner</h3>
<ul class="cv-list">
{% for x in s.examining.internal %}<li><strong>{{ x.name }}</strong> ({{ x.degree }}, {{ x.year }}). <em>{{ x.title }}</em>.</li>
{% endfor %}</ul>
